
:root {
  --main--color--magenta: rgb(208, 93, 253);
  --secondary--color--pink: rgb(255, 0, 191);
  --main-font: "Aktiv-Rg", sans-serif;
  --border--white: 2px solid white;
}

@font-face {
  font-family: "Aktiv-Lt";
  src: url(../assets/fonts/AktivGrotesk_Lt.ttf);
}
@font-face {
  font-family: "Aktiv-Rg";
  src: url(../assets/fonts/AktivGrotesk_Rg.ttf);
}
@font-face {
  font-family: "Aktiv-Md";
  src: url(../assets/fonts/AktivGrotesk_Md.ttf);
}
@font-face {
  font-family: "Aktiv-Bd";
  src: url(../assets/fonts/AktivGrotesk_Bd.ttf);
}

/* standaard font sizes */

h1{
  font-size: 1.8em;
}

h2{
  font-size: 0.8em;
}

h3{
  font-size: 0.7em;
}

a {
  text-decoration: none;
  color: var(--main--color--magenta);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* vh means viewport height. its based on the browsers default viewport size */
/* 1vh = 1% of the viewport hight of the browser */
html {
  height: 100vh;
}

body {
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  font-family: monospace;
  background-color: black;
  color: var(--main--color--magenta);
  background-image: url("https://i.pinimg.com/originals/e9/db/09/e9db09b6ff90a4b6cf6f5b01a118524f.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 0.5s;
  cursor: none;
}

article {
  position: relative;
  display: flex;
  flex-direction: column;
  border: var(--border--white);
  align-items: center;
  justify-content: flex-end;
  max-width: 50em;
  min-width: 20em;
  border-radius: 1em;
  box-shadow: 0 0 20px 10px rgb(255 255 255 / 62%);
  transition: 0.25s;
}

header {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 10em;
  position: relative;
  background-image: url("https://i.makeagif.com/media/9-18-2018/RySj_U.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  transition: 0.5s;
}

h1 {
  border: solid black;
  margin: 0 0 0 0;
  color: rgb(0, 0, 0);
  width: 5em;
  position: absolute;
  padding: 10px;
  right: 20%;
  top: 50%;
  text-align: center;
  background: #ffffffad;
  border-radius: 50px;
  transform: translateY(-50%);
}

h2 {
  margin: 0;
  text-transform: uppercase;
  font-family: var(--main-font);
  color: white;
}

h3 {
  margin: 0;
  text-transform: uppercase;
  font-family: var(--main-font);
  color: white;
}

button {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 2.5em;
  height: 2.5em;
  padding: 0.25em;
  border: none;
  border-radius: 50%;
  background: white;
  transform: scale(0.8);
  transition: 0.25s;
}
button:focus {
  outline: none;
  background: white;
}

header img {
  top: 1em;
  width: 8em;
  height: auto;
  margin-top: 120px;
  margin-left: 0;
  padding: 0;
  border: solid white;
  color: transparent;
  border-radius: 10em;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  transition: 0.25s 0.15s;
  right: 11em;
  background-image: url("https://media1.tenor.com/m/4Ds8A3wAsYAAAAAC/goku-black.gif");
  background-size: cover;
}

section {
  display: flex;
  width: 100%;
}
/*info boxes*/

.info1 {
  display: grid;
  width: 70%;
  padding: 2em 0;
  text-align: center;
  background: rgb(65, 65, 65);
  /*border-bottom: dashed lightblue;*/
  border-top: var(--border--white);
  border-bottom: var(--border--white);
  border-right: var(--border--white);
  /* box-shadow: inset 1px -4px 20px 1px rgb(0 0 0 / 62%); */
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 3em;
  grid-template-areas: /* hier laat ik zien waar elk element komt. je ziet dat er 4 kolommen en 3 rows zijn */
    "school school"
    "... ..."
    "... ...";
}

.info2 {
  display: grid;
  width: 30%;
  padding: 2em 0;
  text-align: center;
  background: rgb(65, 65, 65);
  /*border-bottom: dashed lightblue;*/
  border-bottom: var(--border--white);
  border-top: var(--border--white);
  /* box-shadow: inset 1px -4px 20px 1px rgb(0 0 0 / 62%); */
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 3em;
}
/* grid area tels where evry element goes if it contains that property */
.info1 dt:nth-child(1) {
  grid-area: school;
}

.info1 dt:nth-child(2) {
  grid-area: 2 / 2 / 3 / 3;
}

.info1 dt:nth-child(3) {
  grid-area: 2 / 1 / 3 / 2;
}

.info1 dt:nth-child(4) {
  grid-area: 3 / 1 / 4 / 2;
}

.info1 dt:nth-child(5) {
  grid-area: 3 / 2 / 4 / 3;
}

.info2 dt:nth-child(1) {
  grid-area: 1 / 1 / 2 / 2;
}

.info2 dt:nth-child(2) {
  grid-area: 2 / 1 / 3 / 2;
}

.info2 dt:nth-child(3) {
  grid-area: 3 / 1 / 4 / 2;
}

/*animations that change text colors*/

@keyframes animate2 {
  0% {
    color: var(--main--color--magenta);
  }
  20% {
    color: var(--secondary--color--pink);
  }
  40% {
    color: var(--main--color--magenta);
  }
  60% {
    color: var(--secondary--color--pink);
  }
  80% {
    color: var(--main--color--magenta);
  }
  100% {
    color: var(--secondary--color--pink);
  }
  120% {
    color: var(--main--color--magenta);
  }
}
/* rotates entire article when button is pressed */
@keyframes rotate-article {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/*about section*/
/* used display flex for flex box */
.about {
  width: 100%;
  display: flex;
  max-height: 160px;
}

.about div:first-child {
  width: 70%;
  overflow: scroll;
  overflow-x: hidden;
  margin-top: 0;
  padding: 2em 2em;
  border-right: var(--border--white);
  text-align: center;
  background-color: rgb(65, 65, 65);
  /* box-shadow: inset 0px 5px 20px 1px rgb(0 0 0 / 62%); */
  border-radius: 0 0 0 1em;
}

.about div:first-child::-webkit-scrollbar {
  width: 0.8em;
}

.about div:first-child::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.about div:first-child::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.about div:last-child {
  width: 30%;
  margin-top: 0;
  border-radius: 0 0 1em 0em;
  text-align: center;
  background-color: rgb(65, 65, 65);
  
  /* box-shadow: inset 0px 5px 20px 1px rgb(0 0 0 / 62%); */
}

.about div:last-child dl{
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 2em;
  display: grid;
  padding: 2em 0;
}

/*3d sphere animation + style */

.plane {
  width: 120px;
  height: 120px;
  transform-style: preserve-3d;
  display: block;
  scale: 0.5;
}
.plane.main {
  position: fixed;
  top: 0;
  left: 0;
  /* bring back if we are not gonna use the follow mouse function*/
  /*right: 0;
  bottom: 0;*/
  border-radius: 100%;
  margin: auto;
  transform: rotateX(60deg) rotateZ(-30deg);
  -webkit-animation: rotate 20s infinite linear;
  animation: rotate 20s infinite linear;
  pointer-events: none;
  z-index: 1;
}
.plane.main .circle {
  width: 120px;
  height: 120px;
  position: absolute;
  transform-style: preserve-3d;
  border-radius: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 60px white, inset 0 0 60px white;
}
.plane.main .circle::before,
.plane.main .circle::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 10%;
  height: 10%;
  border-radius: 100%;
  background: white;
  box-sizing: border-box;
  box-shadow: 0 0 60px 2px white;
}
.plane.main .circle::before {
  transform: translateZ(-90px);
}
.plane.main .circle::after {
  transform: translateZ(90px);
}
.plane.main .circle:nth-child(1) {
  transform: rotateZ(72deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(2) {
  transform: rotateZ(144deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(3) {
  transform: rotateZ(216deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(4) {
  transform: rotateZ(288deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(5) {
  transform: rotateZ(360deg) rotateX(63.435deg);
}

@-webkit-keyframes rotate {
  0% {
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

/* expand content */

body.expand header {
  background-image: url("https://i.pinimg.com/originals/a1/e7/16/a1e7160ca98c3b604e0eda9a6760e285.gif");
  height: 10em;
  transition: 0.5s;
}

body.expand {
  font-size: 1.15em;
  background-image: url("https://64.media.tumblr.com/621cf59dca0cfb2c0ed55a459265bc5e/0b3ede05cd4a26b2-0a/s400x600/34c7f33d2c68622ae3919f92965243f1a9b0a798.gif");
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.5s;
}

body.expand article {
  max-width: 50em;
  box-shadow: 0 0 20px 10pxvar(--secondary--color--pink);
  animation: rotate-article 1.2s;
}

body.expand dd {
  font-size: 1.75em;
}
/* animation-direction: alternate; is used to make the loop look smooth */
body.expand dt {
  animation: animate2 10s linear infinite;
  animation-direction: alternate;
}

body.expand p {
  animation-name: animate2;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

body.expand img {
  width: 8em;
  background-image: url("https://i.pinimg.com/originals/1f/b4/a8/1fb4a8dc6e2c820fc035a12978ccd031.gif");
  background-position: center;
  box-shadow: 0px 0px 28px var(--secondary--color--pink);
  transition: 0.2s;
}

body.expand h1 {
  box-shadow: 0px 0px 28px var(--secondary--color--pink);
}

body.expand .about div:last-child dl{
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 2em;
  display: grid;
  padding: 1em 0;
}

/* bigger format */

@media (min-width: 34.5em) {

  
header img {
  margin-left: 60px;
}
  
  body.expand img {
    width: 9em;
  }

  .about div:first-child::-webkit-scrollbar {
    width: 1em;
  }

  h2{
    font-size: 1em;
  }

}
